{{ define "main" }}
{{ $myterm := .Title | anchorize }}
{{if .Content}}
{{ .Content }}
{{else }}

{{ range $term, $taxo := .Site.Taxonomies }}
    {{- if eq $myterm (anchorize $term) }}
    <ul>
        {{ range $key, $value := $taxo }}
            <li><a href="{{$key}}">{{$key}}</a> ({{.Count}} {{if eq .Count 1}}tutorial{{else}}tutorials{{end}})  </li>
        {{ end }}
    </ul>
    {{end}}
{{end}}

{{end}}
{{end}}