{{ if .Get "doi" }}
{{ .Get "authors" }}, <i>{{ .Get "title" }}</i>,  <a href="https://doi.org/{{ .Get "doi" }}">{{ .Get "journal" }}</a> <b>{{ .Get "volume" }}</b> {{ .Get "pages" }} ({{ .Get "year" }}); 
{{ else if .Get "url" }}
{{ .Get "authors" }}, <i>{{ .Get "title" }}</i>,  <a href="{{ .Get "url" }}">{{ .Get "journal" }}</a> <b>{{ .Get "volume" }}</b> {{ .Get "pages" }} ({{ .Get "year" }}); 
{{ else }} 
{{ .Get "authors" }}, <i>{{ .Get "title" }}</i>,  {{ .Get "journal" }} <b>{{ .Get "volume" }}</b> {{ .Get "pages" }} ({{ .Get "year" }});
{{ end }}