<!--script src="{{$.Site.BaseURL}}/unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script-->
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="{{$.Site.BaseURL}}/unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<!--script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script-->

{{ $seed := "foo" }}
{{ $my_tag := delimit (shuffle (split (md5 $seed) "" )) "" }}



<div id={{ $my_tag }} style="text-align: center;"></div>

<script>
var dots = [
{{ .Inner | safeHTML }}
];

d3.select('#'+{{$my_tag}} ).graphviz()
    .renderDot(dots.join(''))
</script>

