<a id="logo" href=""{{ .Site.BaseURL }}>
<img src="{{ .Site.BaseURL }}/images/180px-Octopus_logo.png" alt="logo" width="50%">
</a>
<div style="color:white"><b>octopus</b></br> Version {{ .Site.Params.Version }}</div>
