{{ $series:=.Get "series"  }}
{{ $prev:=.Get "prev" | replaceRE ":" "/" }}
{{ $next:=.Get "next" | replaceRE ":" "/" }}
<center>
<button class="btn" type="button" onclick="location.href='{{.Site.BaseURL}}/manual/{{replace $series " " "_" |lower}}/{{ replace $prev " " "_" |lower}}'" >prev</button>
<button class="btn" type="button" onclick="location.href='{{.Site.BaseURL}}/manual/{{replace $series " " "_" |lower}}/{{ replace $next " " "_" |lower}}'" >next</button>
</center>
