<link href="{{"mermaid/mermaid.css" | relURL}}" type="text/css" rel="stylesheet"/>
<!--script defer  src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js">mermaid.initialize({startOnLoad:true});</script-->
<script defer  src="{{$.Site.BaseURL}}/cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js">mermaid.initialize({startOnLoad:true});</script>
<div class="mermaid" align="{{ if .Get "align" }}{{ .Get "align" }}{{ else }}center{{ end }}" >{{ safeHTML .Inner  }}</div>