{{ $baseURL := .Site.BaseURL }}
{{ $myterm := .Get 0 | anchorize }}

{{ $counts := newScratch }}

{{ range $term, $taxo := .Site.Taxonomies }}
    {{ if eq $term $myterm }}
            {{ range $key, $value := $taxo }}
                {{ $counts.Set $key .Count }}
            {{ end }}
    {{end}}
{{end}}

{{ $currentterm := $.Site.GetPage $myterm }}

<ul>
    {{ range $currentterm.Pages.ByWeight -}}
         {{ $count := $counts.Get (anchorize .Title) }}
        <li><a href="{{ .RelPermalink}}">{{ .Title}}</a>  {{ .Description }} ({{$count}} {{if eq $count 1}}tutorial{{else}}tutorials{{end}})</li>
    {{ end }} 
</ul>
