
{{$myKey := .Get 0 | anchorize}}
{{ range $key, $value := .Site.Taxonomies.tutorials }}
    {{- if eq $key $myKey}}
    <ul>
        {{ $.Scratch.Set "counter" 0 }}
        {{ range $value.Pages }}
            {{ if ne (.Param "hidden" |default "no") "yes" }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            <li hugo-nav="{{ .RelPermalink}}">Lesson  {{$.Scratch.Get "counter"}}:
                <a href="{{ .Permalink}}?series={{$key}}"><b>{{ .Title }}</b></a> &nbsp; {{ .Description}}
            </li>
            {{ end }}
        {{ end }}
    </ul>
    {{end}}
{{end}}